body {}
.button {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem .75rem;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: .25rem;
}

.button:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.account-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
}

a {
	margin: 1em;
	text-decoration: none;
}

label {
	margin: 1em;
}

input {
	border-radius: 0.25rem;
    border: none;
    height: 2.0em;
    background: lightgray;
    margin-left: 1em;
    margin-top: 1.6em;
}